*{
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
}
:root{
  --primary-color:orangered;
  --white:#fff;
  --header-color:#F4F6F5;
}
html{
  font-size: 16px;
}
.img-head > img{
  width: 50%;
}
/**=========== Mobile nav ==============*/

.mobile-nav{
  background-color: black;
  color: #fff;
  position: absolute;
  z-index: 999;
  width: 60%;
  top: 4rem;
  left: -999px;
  transition: all 5s linear;
}
.mobile-nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav ul li{
  margin: 1.5rem;
  text-transform: uppercase;
}
.mobile-nav ul li:hover{
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.header{
  display: flex;
  background-color: var(--header-color);
  flex: 1 1 50%;
}
.Navbar{
  display: flex;
}
.img-head{
  display: flex;
  justify-content: space-around;
}
header{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 3rem;
}
header .desktop-nav ul{
  display: flex;
}
header .desktop-nav ul li{ 
  margin: 2rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.click-bar{
  display: flex;
  margin: 1rem;
}
.click-bar h2{
  margin: 1rem;
}
.i-con{
  background-color: var(--primary-color);
  color:var(--white);
  font-size: 1.5rem;
  height:70%;
  border-radius: 50%;
  padding: .7rem;
}
.icon{
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.i-con1{
  background-color: var(--primary-color);
  color:var(--white);
  height: 3.5rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
.i-con2{
  background-color: var(--white);
  color:var(--primary-color);
  height: 3.5rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
header > .new-arr{
  text-align: center;
}
.new-arr > .price{
  color: var(--primary-color);
  font-size: 2rem;
}
.new-arr button{
  margin: 1rem;
  border: none;
  outline: none;
  width: 8rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  border-radius: .5rem;
}
.button > .new{
  background-color:var(--primary-color);
  color:var(--white);
}
.button > .collection{
 border: .1rem solid rgb(192, 192, 192);
 background-color: var(--white);
}
/**-------------------- Footer */
section{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

section > .news-row{
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
}
.new-col{
  margin: 1rem;
  height: 20rem;

}
.new-col img{
  width: 100%;
}
.new-col p{
  font-size: .8rem;
}
.new-box{
  background-color: black;
  color:#fff;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.new-box > button{
  background-color: red;
  color: #fff;
  padding: .5rem 1rem;
}
/* .hide{
  display: none;
  left: -999px;
} */

/** Responsive  */
@media only screen and (max-width:550px){
  html{
    font-size: 8px;
  }
  .header{
    flex-wrap: wrap;
  }
  header{
    max-width: 100%;
  }
  header .desktop-nav{
    display: none;
  }
  .mobile-nav{
    transition: all .5s linear;
    /* left: 0px; */
  }
  .hide{
    left: 0;
    /* transition: all .5s linear; */
  }
  .brand-shopping{
    flex-wrap: wrap;
  }
  
}
@media only screen and (max-width:768px){
  html{
    font-size: 12px;
  }
  .header{
    flex-wrap: wrap;
  }
  footer >.row{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width:'992px'){
  
}